<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-button/paper-button.html">

<dom-module id="information-card">
  <template>
    <style>
      :host {
        display: block;
        font-family:arial;
      }
      .tab{
        display:inline-flex;
        width:100%;
        justify-content:center;
        border:0;
      }
      .content{
        border:0px;
        font-size:16px;
        width: 35%;
        display:block;
        justify-content: space-around;
        align-items: center;
      }
      fieldset{
        border:0px;
        display: flex;
        justify-content:center;
      }
      .btn-purple{
        display:flex;
        width:50%;
        justify-content:center;
        height:30px;
        align-items:center;
        background-color:#6C80C7;
        color:#FFF;
        border:0px;
        border-radius:8px;
        font-size:10px;
      }
      input{
        color:#999999;
        width:100%;
      }
      .content h2{
        text-align:center;
        font-size:22px;
      }
      label{
        font-weight: bold;
      }
      .text-danger{
        color: #FF8A8A;
      }
      .text-success{
        color: #73D673;
      }
      .text-warning{
        color: #FFFF83;
      }
      .text-primary{
        color: #449AFF;
      }
      .text-dark{
        color: #000;
      }
    </style>
    <section class="tab">
      <article class="content">
        <paper-button class="pink" on-click="_switchTexto">Add Task</paper-button>
        <h2 class$="{{textcolor}}">{{title}}</h2>
        <label>{{labelNombreCompleto}}:</label>
        <input type="text" name="nombre" placeholder="Ingresa tu nombre completo..."/>
        <label>{{labelSemestre}}:</label>
        <input type="number" name="semestre" placeholder="Ingresa tu semestre..." />
        <label>{{labelCarrera}}:</label>
        <input type="text" name="carrera" list="Carreras" />
        <datalist id="Carreras">
          <option value="ISC">Ingeniería en Sistemas Computacionales</option>
        </datalist>
        <fieldset>
          <button type="button" class="btn-purple">Submit</button>
        </fieldset>
      </article>
    </section>
  </template>

  <script>
    /**
     * `information-card`
     * Tarjeta de información
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class InformationCard extends Polymer.Element {
      static get is() { return 'information-card'; }
      static get properties() {
        return {
          title: {
            type: String,
            value: 'Confirmation!',
            notify: true,
            observer: '_sacateElLog'
          },
          labelNombreCompleto: {
            type: String,
            value: 'Name'
          },
          textcolor: {
            type: String,
            value: 'text-primary',
            notify: true
          },
          labelSemestre: {
            type: String,
            value: 'Semestre'
          },
          labelCarrera: {
            type: String,
            value: 'Carrera'
          }
        };
      }
      _switchTexto(){
        this.title = 'Success'
        this.textcolor = 'text-success'
      }
      _sacateElLog(){
        console.log('simona')
      }
      
    }

    window.customElements.define(InformationCard.is, InformationCard);
  </script>
</dom-module>
